.jumbotron{
    margin-top: 20vh;
}

#search{
    max-width: 20vw;
}

.categories li{
    cursor:5pointer
}

#searchBtn{
    padding:10px 10px ;
    font-size: 15px;
    transition: 0.2s linear;
}

#searchBtn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }