doctype
html(lang="en")
    head
        include includes/header
    body
        include includes/navbar
        .jumbotron
            .p-2.text-center
                h1.display-3 1PG 
                    i.fab.fa-discord
                p.lead
                    | The best bot in the world. 
                a.btn.btn-dark.btn-lg(href='#', role='button') Add

