mixin category(category)
    ul.list-group
        li.list-group-item.mb-2 #[i(class=category.icon)] #{category.name}

mixin command(command)
    ul.list-group
        li.list-group-item.mb-2 #{command.name}