nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href='#') 1PG 
      i.fas.fa-code
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-link.active(aria-current='page', href='#') Home
    .navbar-nav.d-flex.float-right.ml-auto
        a.nav-link(href='login')
          i.fas.fa-sign-in-alt
          |  Login
    
